@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>

<h1>Logout</h1>

