################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grofinhub/v17
/.vs/Grofinhub/DesignTimeBuild
/.vs/Grofinhub/FileContentIndex
/.vs/ProjectEvaluation
/bin/Debug/net6.0
/obj/Debug/net6.0
/obj/Release/net6.0/PubTmp/Out
/obj
/Properties/PublishProfiles/FolderProfile7.pubxml.user
/bin/Debug/net6.0/Grofinhub.dll
/bin/Debug/net6.0/Grofinhub.pdb
/obj/Debug/net6.0/ref/Grofinhub.dll
/obj/Debug/net6.0/refint/Grofinhub.dll
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/Grofinhub.AssemblyInfo.cs
/obj/Debug/net6.0/Grofinhub.AssemblyInfoInputs.cache
/obj/Debug/net6.0/Grofinhub.dll
/obj/Debug/net6.0/Grofinhub.pdb
/obj/Debug/net6.0/Grofinhub.sourcelink.json
/bin/Debug/net6.0/Grofinhub.exe
