################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grofinhub/v17
/.vs/Grofinhub/DesignTimeBuild
/.vs/Grofinhub/FileContentIndex
/.vs/ProjectEvaluation
