@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<li class="treeview">
    <a href="#">
        <i class="icon-Layoutf-4-blocks "><span class="path1"></span><span class="path2"></span></i>
        <span>SERVICES </span>
        <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        @if ((ViewBag.pertbl.Rows[0]["PAYUTILITY"]) == true)
        {
            <li>
                <a href="/Admin/Dashboard">
                    <i class="icon-Layout-4-blocks">
                        <span class="path1">
                        </span><span class="path2"></span>
                    </i>Pay & Utility
                </a>
            </li>
        }

        @if ((ViewBag.pertbl.Rows[0]["COMPLIANCE"]) == true)
        {
            <li>
                <a href="/Admin/Compliance">
                    <i class="icon-Layout-4-blocks">
                        <span class="path1">
                        </span><span class="path2"></span>
                    </i> Compliance
                </a>
            </li>
        }

        @if ((ViewBag.pertbl.Rows[0]["FINANCE"]) == true)
        {
            <li>
                <a href="/Admin/Finance">
                    <i class="icon-Layout-4-blocks">
                        <span class="path1">
                        </span><span class="path2"></span>
                    </i>Finance
                </a>
            </li>
        }

        @if ((ViewBag.pertbl.Rows[0]["INVESTMENT"]) == true)
        {
            <li>
                <a href="/Admin/Investment">
                    <i class="icon-Layout-4-blocks">
                        @* <i class="icon-Commit">*@

                        <span class="path1">
                        </span><span class="path2"></span>
                    </i> Investment
                </a>
            </li>
        }

        @if ((ViewBag.pertbl.Rows[0]["INSURANCE"]) == true)
        {
            <li>
                <a href="/Admin/Insurance">
                    <i class="icon-Layout-4-blocks">
                        <span class="path1">
                        </span><span class="path2"></span>
                    </i> Insurance
                </a>
            </li>
        }
        @if ((ViewBag.pertbl.Rows[0]["OTHERSERVICES"]) == true)
        {
            <li>
                <a href="/Admin/OtherServic">
                    <i class="icon-Layout-4-blocks">
                        <span class="path1">
                        </span><span class="path2"></span>
                    </i> Other Service
                </a>
            </li>
        }
    </ul>



</li>
 @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "3")
{
    @if ((ViewBag.pertbl.Rows[0]["WALLET"]) == true)
    {
        <li class="treeview">
            <a href="#">
                <i class="icon-Layoutf-4-blocks"><span class="path1"></span><span class="path2"></span></i>
                <span>Wallet</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">

                <li>
                    <a href="/Admin/Mainwallert">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i> Wallet
                    </a>
                </li>


                <li>
                    <a href="/Wallet/RequestedWallet">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i> Fund Request
                    </a>
                </li>
                <li>
                    <a href="/admin/PartnerWallet">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i>Partner Wallet
                    </a>
                </li>



            </ul>

        </li>
    }
    @if ((ViewBag.pertbl.Rows[0]["TRANSACTION_REPORT"]) == true)
    {
        <li class="">
            <a href="/Admin/TransactionReportDashBoard">
                <i class=" "><span class="path1"></span><span class="path2"></span></i>
                <span id="btnclick">TRANSACTION REPORT</span>
                <span class="pull-right-container">

                </span>
            </a>
        </li>
    }
    @if ((ViewBag.pertbl.Rows[0]["MEMBER_DOCUMENT"]) == true && (ViewBag.pertbl.Rows[0]["COMPLAINT"]) == true)

    {
        <li class="treeview">
            <a href="#">
                <i class="icon-Layoutf-4-blocks"><span class="path1"></span><span class="path2"></span></i>
                <span>MEMBER</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/Admin/GetMemberDocuments">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i>Member Documents
                    </a>
                </li>

                <li>
                    <a href="/Admin/complainReport">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i>Complain Report
                    </a>
                </li>
            </ul>

        </li>
    }
    else if ((ViewBag.pertbl.Rows[0]["MEMBER_DOCUMENT"]) == true)
    {
        <li class="treeview">
            <a href="#">
                <i class="icon-Layoutf-4-blocks"><span class="path1"></span><span class="path2"></span></i>
                <span>MEMBER</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/Admin/GetMemberDocuments">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i>Member Documents
                    </a>
                </li>
            </ul>

        </li>
    }
    else if ((ViewBag.pertbl.Rows[0]["COMPLAINT"]) == true)
    {
        <li class="treeview">
            <a href="#">
                <i class="icon-Layoutf-4-blocks"><span class="path1"></span><span class="path2"></span></i>
                <span>MEMBER</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/Admin/complainReport">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i>Complain Report
                    </a>
                </li>
            </ul>

        </li>
    }
    if ((ViewBag.pertbl.Rows[0]["TRAINING"]) == true)
    {
        <li class="treeview ">
            <a href="#">
                <i class="icon-Layoutf-4-blocks"><span class="path1"></span><span class="path2"></span></i>
                <span> Training </span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu ">


                <li>
                    <a href="/Admin/Video">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i>Upload Video
                    </a>
                </li>


                <li>
                    <a href="/Admin/VideoLink">
                        <i class="icon-Layout-4-blocks">
                            <span class="path1">
                            </span><span class="path2"></span>
                        </i> Video Link
                    </a>
                </li>


            </ul>

        </li>
    }

}





